html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
title: font-family: 'Playfair Display';
all other: font-family: 'Hind Siliguri', sans-serif;
*/




/* background-img */



/* header */

body {
    width: 100vw;
    height: 900px;

    background-color: #0B1D26;
}

.bg {
    width: 1920px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to top, #0B1D26, #0B1D26, #0b1d26, #0b1d2649), url("../img/bg/Group 20.png");
    background-repeat: no-repeat;
    background-size: 120% auto;
    background-position-x: -140px;
}

.container {
    width: 1760px;

    margin-left: auto;
    margin-right: auto;
}

.logo p{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: white;
}

header {
    padding-top: 64px;
}
.header__nav, .header__account {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    color: white;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__nav li:not(:last-child) {
    margin-right: 40px;
}
.header__account {
    width: max-content;
}
.header__account img {
    margin-right: 10px;
}

/* main */
.main-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 1100px;
}

.before {
    height: 173px;
    width: max-content;
}
.before .li-first{
    color: white;
    font-size: 18px;
    font-family: 'Hind Siliguri', sans-serif;
    writing-mode: vertical-lr;
}
.before li:not(:last-child) {
    margin-bottom: 24px;
}

.main__title {
    width: 950px;

    margin-left: auto;
    margin-right: auto;
}

.main__title .title{
    font-family: 'Playfair Display';
    font-size: 88px;
    color: white;
    text-transform: capitalize;
    line-height: 100px;

    margin-top: 32px;
    margin-bottom: 32px;
}
.main__title a {
    text-decoration: none;
}
.uptitle {
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    color: #FBD784;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 6px;
}
.uptitle::before {
    content: " ";  
    display: inline-block;              
    width: 72px;                          
    border-bottom: 1px solid #FBD784; 
    vertical-align: middle;
    margin-right: 32px;
}
.scroll {
    display: flex;
    align-items: center;
}
.scroll .btn {
    font-size: 18px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
    text-transform: lowercase;
    margin-right: 16px;
}



/* margin-left:auto;
    margin-right: 114px;
    */


.nmb-content {
    width: 1462px;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 105px;
}
.nmb_content_column__discr {
    width: 60%;
}
.nmb_content_column__discr a {
    text-decoration: none;
}
.nmb_content_column__img {
    width: 40%;
    margin-left: auto;
}
.nmb_content_column__img img {
    margin-left: auto;
}
.discr {
    width: 632px;
    height: 439px;
}
.discr p {
    font-size: 18px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 27px;
}

.title {
    font-family: 'Playfair Display';
    font-size: 64px;
    color: white;
    line-height: 77px;

    margin-top: 27px;
    margin-bottom: 27px;
    margin-right: 77px;
}

.first {
    background-image: url("../img/Equipment_01.png");
    background-repeat: no-repeat;
    position: relative;
}
.first .discr {
    position: absolute;
    top: 120px;
    left: 100px;
}
.second {
    background-image: url("../img/Equipment_02.png");
    background-repeat: no-repeat;
    position: relative;
    background-position: top right;
}
.second .discr {
    position: absolute;
    top: 120px;
    right: 0;
}
.third {
    background-image: url("../img/Equipment_03.png");
    background-repeat: no-repeat;
    position: relative;
}
.third .discr {
    position: absolute;
    top: 120px;
    left: 100px;
}

.main-footer {
    width: 1462px;

    margin-bottom: 120px;

    color: white;

    display: flex;
    margin-left: auto;
    margin-right: auto;

    font-size: 18px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 27px;
}
.main-footer a{
    text-decoration: none;
    color: white;
}

.main-footer_first {
    width: 60%;
    height: 280px;

    position: relative;
}
.main-footer_second {
    width: 20%;
    height: 280px;
}
.main-footer_third {
    width: 20%;
    height: 280px;
}

.title-ul {
    font-size: 24px;
    color: #FBD784;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 27px;
}

.footer-end {
    padding-top: 24px;
}
.copy {
    font-size: 18px;
    color: #ffffff46;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: 500;
    line-height: 32px;

    position:absolute; 
    bottom:0;
}


footer ul li:not(:last-child) {
    margin-bottom: 16px;
}